:root{
    background-color: #e3cbee;
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    font-family:cursive;
    margin: 0;
    padding: 0;
    color: rgb(17, 16, 16);
}
h1,h2,h3,h4{
    margin-bottom: 1rem;
}

h1{
    font-size: 5rem;
    color: #bc56eb;
    margin-bottom: 4rem;
}

h1 > span {
    font-size: 2.5rem;
    font-size: 500;
}

h2{
    font-size: 4rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3{
    font-size: 2.8rem;
    font-weight: 500;
}

.container{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > *{
    width: 100%;
}


.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.btn{
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 2px solid #bc56eb;
    margin: 9px 0;
    border-radius: 16px;
    text-decoration: none;
    color: #bc56eb;
    background-color: white;
    
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgba(181, 85, 245, 0.5);
    transform: translateY(-4px);
    transition: transform 150ms;
}
.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


/* CSS for end page */

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

input{
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.5rem 0 rgba(85, 185, 235, 0.6);
}

input::placeholder{
    color: rgb(71, 69, 69);
}

